<div class="applicationRoot">

  <div class="centerDialog">
    <p>.center</p>
  </div>

  <!--<header>.header</header>
  <div class="holygrail-body">
    <main>.main <br></main>
    <nav>.nav <br></nav>
    <aside>.aside <br></aside>
  </div>
  <footer>.footer</footer>-->

  <!--<div class="advancedHeader">
    <div class="button">Home</div>
    <div class="title">Identity Management</div>
    <div class="button">Pin</div>
    <div class="buttonWrapper">
      <div class="button">Add</div>
      <div class="button">Edit</div>
      <div class="button">Delete</div>
    </div>    
    <div class="name">Timo Korinth</div>
    <div class="button">Help</div>
    <div class="button">Full</div>
    <div>Logo</div>
  </div>-->

</div>